.pagination {
    display: block;
    float: right;
    margin: 65px 0 30px 0;

    &__item {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.12);
        border: solid 1px #dcdcdc;
        font-family: open_sansbold;
        color: #808080;
        font-size: 12px;
        cursor: pointer;
    }

    &__item_active, .pagination__item:hover {
        background: #e1e1e1;
        border: solid 1px #bdbdbd;
    }
}

.information {

    @extend %clearfix;
    
    &__title {
        font-family: open_sanssemibold;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0 -15px;
    }

    &__p {
        margin-top: 0;
        margin-bottom: 20px;
        text-indent: 30px;
    }
}

.column {
    text-align: justify;
}

.first {
    padding-right: 15px;
}

.last {
    padding-left: 15px;
}