/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 34px;
$arrow-down-y: 131px;
$arrow-down-offset-x: -34px;
$arrow-down-offset-y: -131px;
$arrow-down-width: 18px;
$arrow-down-height: 11px;
$arrow-down-total-width: 167px;
$arrow-down-total-height: 146px;
$arrow-down-image: '../images/icons.png';
$arrow-down: (34px, 131px, -34px, -131px, 18px, 11px, 167px, 146px, '../images/icons.png', 'arrow-down', );
$arrow-name: 'arrow';
$arrow-x: 16px;
$arrow-y: 131px;
$arrow-offset-x: -16px;
$arrow-offset-y: -131px;
$arrow-width: 18px;
$arrow-height: 11px;
$arrow-total-width: 167px;
$arrow-total-height: 146px;
$arrow-image: '../images/icons.png';
$arrow: (16px, 131px, -16px, -131px, 18px, 11px, 167px, 146px, '../images/icons.png', 'arrow', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 129px;
$checkbox-active-y: 90px;
$checkbox-active-offset-x: -129px;
$checkbox-active-offset-y: -90px;
$checkbox-active-width: 19px;
$checkbox-active-height: 19px;
$checkbox-active-total-width: 167px;
$checkbox-active-total-height: 146px;
$checkbox-active-image: '../images/icons.png';
$checkbox-active: (129px, 90px, -129px, -90px, 19px, 19px, 167px, 146px, '../images/icons.png', 'checkbox-active', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 0px;
$checkbox-hover-y: 112px;
$checkbox-hover-offset-x: 0px;
$checkbox-hover-offset-y: -112px;
$checkbox-hover-width: 19px;
$checkbox-hover-height: 19px;
$checkbox-hover-total-width: 167px;
$checkbox-hover-total-height: 146px;
$checkbox-hover-image: '../images/icons.png';
$checkbox-hover: (0px, 112px, 0px, -112px, 19px, 19px, 167px, 146px, '../images/icons.png', 'checkbox-hover', );
$checkbox-name: 'checkbox';
$checkbox-x: 129px;
$checkbox-y: 52px;
$checkbox-offset-x: -129px;
$checkbox-offset-y: -52px;
$checkbox-width: 19px;
$checkbox-height: 19px;
$checkbox-total-width: 167px;
$checkbox-total-height: 146px;
$checkbox-image: '../images/icons.png';
$checkbox: (129px, 52px, -129px, -52px, 19px, 19px, 167px, 146px, '../images/icons.png', 'checkbox', );
$fb-footer-hover-name: 'fb-footer-hover';
$fb-footer-hover-x: 86px;
$fb-footer-hover-y: 43px;
$fb-footer-hover-offset-x: -86px;
$fb-footer-hover-offset-y: -43px;
$fb-footer-hover-width: 43px;
$fb-footer-hover-height: 43px;
$fb-footer-hover-total-width: 167px;
$fb-footer-hover-total-height: 146px;
$fb-footer-hover-image: '../images/icons.png';
$fb-footer-hover: (86px, 43px, -86px, -43px, 43px, 43px, 167px, 146px, '../images/icons.png', 'fb-footer-hover', );
$fb-footer-name: 'fb-footer';
$fb-footer-x: 0px;
$fb-footer-y: 43px;
$fb-footer-offset-x: 0px;
$fb-footer-offset-y: -43px;
$fb-footer-width: 43px;
$fb-footer-height: 43px;
$fb-footer-total-width: 167px;
$fb-footer-total-height: 146px;
$fb-footer-image: '../images/icons.png';
$fb-footer: (0px, 43px, 0px, -43px, 43px, 43px, 167px, 146px, '../images/icons.png', 'fb-footer', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 129px;
$fb-hover-y: 26px;
$fb-hover-offset-x: -129px;
$fb-hover-offset-y: -26px;
$fb-hover-width: 26px;
$fb-hover-height: 26px;
$fb-hover-total-width: 167px;
$fb-hover-total-height: 146px;
$fb-hover-image: '../images/icons.png';
$fb-hover: (129px, 26px, -129px, -26px, 26px, 26px, 167px, 146px, '../images/icons.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 54px;
$fb-y: 86px;
$fb-offset-x: -54px;
$fb-offset-y: -86px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 167px;
$fb-total-height: 146px;
$fb-image: '../images/icons.png';
$fb: (54px, 86px, -54px, -86px, 26px, 26px, 167px, 146px, '../images/icons.png', 'fb', );
$full-view-hover-name: 'full-view-hover';
$full-view-hover-x: 54px;
$full-view-hover-y: 112px;
$full-view-hover-offset-x: -54px;
$full-view-hover-offset-y: -112px;
$full-view-hover-width: 16px;
$full-view-hover-height: 16px;
$full-view-hover-total-width: 167px;
$full-view-hover-total-height: 146px;
$full-view-hover-image: '../images/icons.png';
$full-view-hover: (54px, 112px, -54px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'full-view-hover', );
$full-view-name: 'full-view';
$full-view-x: 102px;
$full-view-y: 112px;
$full-view-offset-x: -102px;
$full-view-offset-y: -112px;
$full-view-width: 16px;
$full-view-height: 16px;
$full-view-total-width: 167px;
$full-view-total-height: 146px;
$full-view-image: '../images/icons.png';
$full-view: (102px, 112px, -102px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'full-view', );
$list-view-hover-name: 'list-view-hover';
$list-view-hover-x: 118px;
$list-view-hover-y: 112px;
$list-view-hover-offset-x: -118px;
$list-view-hover-offset-y: -112px;
$list-view-hover-width: 16px;
$list-view-hover-height: 16px;
$list-view-hover-total-width: 167px;
$list-view-hover-total-height: 146px;
$list-view-hover-image: '../images/icons.png';
$list-view-hover: (118px, 112px, -118px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'list-view-hover', );
$list-view-name: 'list-view';
$list-view-x: 134px;
$list-view-y: 112px;
$list-view-offset-x: -134px;
$list-view-offset-y: -112px;
$list-view-width: 16px;
$list-view-height: 16px;
$list-view-total-width: 167px;
$list-view-total-height: 146px;
$list-view-image: '../images/icons.png';
$list-view: (134px, 112px, -134px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'list-view', );
$map-name: 'map';
$map-x: 155px;
$map-y: 0px;
$map-offset-x: -155px;
$map-offset-y: 0px;
$map-width: 12px;
$map-height: 16px;
$map-total-width: 167px;
$map-total-height: 146px;
$map-image: '../images/icons.png';
$map: (155px, 0px, -155px, 0px, 12px, 16px, 167px, 146px, '../images/icons.png', 'map', );
$marker-name: 'marker';
$marker-x: 155px;
$marker-y: 32px;
$marker-offset-x: -155px;
$marker-offset-y: -32px;
$marker-width: 8px;
$marker-height: 14px;
$marker-total-width: 167px;
$marker-total-height: 146px;
$marker-image: '../images/icons.png';
$marker: (155px, 32px, -155px, -32px, 8px, 14px, 167px, 146px, '../images/icons.png', 'marker', );
$radio-active-name: 'radio-active';
$radio-active-x: 106px;
$radio-active-y: 86px;
$radio-active-offset-x: -106px;
$radio-active-offset-y: -86px;
$radio-active-width: 19px;
$radio-active-height: 19px;
$radio-active-total-width: 167px;
$radio-active-total-height: 146px;
$radio-active-image: '../images/icons.png';
$radio-active: (106px, 86px, -106px, -86px, 19px, 19px, 167px, 146px, '../images/icons.png', 'radio-active', );
$radio-hover-name: 'radio-hover';
$radio-hover-x: 129px;
$radio-hover-y: 71px;
$radio-hover-offset-x: -129px;
$radio-hover-offset-y: -71px;
$radio-hover-width: 19px;
$radio-hover-height: 19px;
$radio-hover-total-width: 167px;
$radio-hover-total-height: 146px;
$radio-hover-image: '../images/icons.png';
$radio-hover: (129px, 71px, -129px, -71px, 19px, 19px, 167px, 146px, '../images/icons.png', 'radio-hover', );
$radio-name: 'radio';
$radio-x: 19px;
$radio-y: 112px;
$radio-offset-x: -19px;
$radio-offset-y: -112px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 167px;
$radio-total-height: 146px;
$radio-image: '../images/icons.png';
$radio: (19px, 112px, -19px, -112px, 19px, 19px, 167px, 146px, '../images/icons.png', 'radio', );
$select-arraow-up-name: 'select-arraow-up';
$select-arraow-up-x: 65px;
$select-arraow-up-y: 131px;
$select-arraow-up-offset-x: -65px;
$select-arraow-up-offset-y: -131px;
$select-arraow-up-width: 13px;
$select-arraow-up-height: 9px;
$select-arraow-up-total-width: 167px;
$select-arraow-up-total-height: 146px;
$select-arraow-up-image: '../images/icons.png';
$select-arraow-up: (65px, 131px, -65px, -131px, 13px, 9px, 167px, 146px, '../images/icons.png', 'select-arraow-up', );
$select-arrow-name: 'select-arrow';
$select-arrow-x: 52px;
$select-arrow-y: 131px;
$select-arrow-offset-x: -52px;
$select-arrow-offset-y: -131px;
$select-arrow-width: 13px;
$select-arrow-height: 9px;
$select-arrow-total-width: 167px;
$select-arrow-total-height: 146px;
$select-arrow-image: '../images/icons.png';
$select-arrow: (52px, 131px, -52px, -131px, 13px, 9px, 167px, 146px, '../images/icons.png', 'select-arrow', );
$star-empty-name: 'star-empty';
$star-empty-x: 0px;
$star-empty-y: 131px;
$star-empty-offset-x: 0px;
$star-empty-offset-y: -131px;
$star-empty-width: 16px;
$star-empty-height: 15px;
$star-empty-total-width: 167px;
$star-empty-total-height: 146px;
$star-empty-image: '../images/icons.png';
$star-empty: (0px, 131px, 0px, -131px, 16px, 15px, 167px, 146px, '../images/icons.png', 'star-empty', );
$star-name: 'star';
$star-x: 38px;
$star-y: 112px;
$star-offset-x: -38px;
$star-offset-y: -112px;
$star-width: 16px;
$star-height: 16px;
$star-total-width: 167px;
$star-total-height: 146px;
$star-image: '../images/icons.png';
$star: (38px, 112px, -38px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'star', );
$tel-name: 'tel';
$tel-x: 155px;
$tel-y: 16px;
$tel-offset-x: -155px;
$tel-offset-y: -16px;
$tel-width: 12px;
$tel-height: 16px;
$tel-total-width: 167px;
$tel-total-height: 146px;
$tel-image: '../images/icons.png';
$tel: (155px, 16px, -155px, -16px, 12px, 16px, 167px, 146px, '../images/icons.png', 'tel', );
$thumb-view-hover-name: 'thumb-view-hover';
$thumb-view-hover-x: 70px;
$thumb-view-hover-y: 112px;
$thumb-view-hover-offset-x: -70px;
$thumb-view-hover-offset-y: -112px;
$thumb-view-hover-width: 16px;
$thumb-view-hover-height: 16px;
$thumb-view-hover-total-width: 167px;
$thumb-view-hover-total-height: 146px;
$thumb-view-hover-image: '../images/icons.png';
$thumb-view-hover: (70px, 112px, -70px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'thumb-view-hover', );
$thumb-view-name: 'thumb-view';
$thumb-view-x: 86px;
$thumb-view-y: 112px;
$thumb-view-offset-x: -86px;
$thumb-view-offset-y: -112px;
$thumb-view-width: 16px;
$thumb-view-height: 16px;
$thumb-view-total-width: 167px;
$thumb-view-total-height: 146px;
$thumb-view-image: '../images/icons.png';
$thumb-view: (86px, 112px, -86px, -112px, 16px, 16px, 167px, 146px, '../images/icons.png', 'thumb-view', );
$tw-footer-hover-name: 'tw-footer-hover';
$tw-footer-hover-x: 43px;
$tw-footer-hover-y: 0px;
$tw-footer-hover-offset-x: -43px;
$tw-footer-hover-offset-y: 0px;
$tw-footer-hover-width: 43px;
$tw-footer-hover-height: 43px;
$tw-footer-hover-total-width: 167px;
$tw-footer-hover-total-height: 146px;
$tw-footer-hover-image: '../images/icons.png';
$tw-footer-hover: (43px, 0px, -43px, 0px, 43px, 43px, 167px, 146px, '../images/icons.png', 'tw-footer-hover', );
$tw-footer-name: 'tw-footer';
$tw-footer-x: 43px;
$tw-footer-y: 43px;
$tw-footer-offset-x: -43px;
$tw-footer-offset-y: -43px;
$tw-footer-width: 43px;
$tw-footer-height: 43px;
$tw-footer-total-width: 167px;
$tw-footer-total-height: 146px;
$tw-footer-image: '../images/icons.png';
$tw-footer: (43px, 43px, -43px, -43px, 43px, 43px, 167px, 146px, '../images/icons.png', 'tw-footer', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 129px;
$tw-hover-y: 0px;
$tw-hover-offset-x: -129px;
$tw-hover-offset-y: 0px;
$tw-hover-width: 26px;
$tw-hover-height: 26px;
$tw-hover-total-width: 167px;
$tw-hover-total-height: 146px;
$tw-hover-image: '../images/icons.png';
$tw-hover: (129px, 0px, -129px, 0px, 26px, 26px, 167px, 146px, '../images/icons.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 80px;
$tw-y: 86px;
$tw-offset-x: -80px;
$tw-offset-y: -86px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 167px;
$tw-total-height: 146px;
$tw-image: '../images/icons.png';
$tw: (80px, 86px, -80px, -86px, 26px, 26px, 167px, 146px, '../images/icons.png', 'tw', );
$vk-footer-hover-name: 'vk-footer-hover';
$vk-footer-hover-x: 86px;
$vk-footer-hover-y: 0px;
$vk-footer-hover-offset-x: -86px;
$vk-footer-hover-offset-y: 0px;
$vk-footer-hover-width: 43px;
$vk-footer-hover-height: 43px;
$vk-footer-hover-total-width: 167px;
$vk-footer-hover-total-height: 146px;
$vk-footer-hover-image: '../images/icons.png';
$vk-footer-hover: (86px, 0px, -86px, 0px, 43px, 43px, 167px, 146px, '../images/icons.png', 'vk-footer-hover', );
$vk-footer-name: 'vk-footer';
$vk-footer-x: 0px;
$vk-footer-y: 0px;
$vk-footer-offset-x: 0px;
$vk-footer-offset-y: 0px;
$vk-footer-width: 43px;
$vk-footer-height: 43px;
$vk-footer-total-width: 167px;
$vk-footer-total-height: 146px;
$vk-footer-image: '../images/icons.png';
$vk-footer: (0px, 0px, 0px, 0px, 43px, 43px, 167px, 146px, '../images/icons.png', 'vk-footer', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 86px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -86px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 167px;
$vk-hover-total-height: 146px;
$vk-hover-image: '../images/icons.png';
$vk-hover: (0px, 86px, 0px, -86px, 27px, 26px, 167px, 146px, '../images/icons.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 27px;
$vk-y: 86px;
$vk-offset-x: -27px;
$vk-offset-y: -86px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 167px;
$vk-total-height: 146px;
$vk-image: '../images/icons.png';
$vk: (27px, 86px, -27px, -86px, 27px, 26px, 167px, 146px, '../images/icons.png', 'vk', );
$spritesheet-width: 167px;
$spritesheet-height: 146px;
$spritesheet-image: '../images/icons.png';
$spritesheet-sprites: ($arrow-down, $arrow, $checkbox-active, $checkbox-hover, $checkbox, $fb-footer-hover, $fb-footer, $fb-hover, $fb, $full-view-hover, $full-view, $list-view-hover, $list-view, $map, $marker, $radio-active, $radio-hover, $radio, $select-arraow-up, $select-arrow, $star-empty, $star, $tel, $thumb-view-hover, $thumb-view, $tw-footer-hover, $tw-footer, $tw-hover, $tw, $vk-footer-hover, $vk-footer, $vk-hover, $vk, );
$spritesheet: (167px, 146px, '../images/icons.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
