-
    var data = [{title : 'Samsung GT-I9301I GALAXY S 3', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/1',
            image2 : 'http://lorempixel.com/135/135/technics/2',
            image3 : 'http://lorempixel.com/135/135/technics/3'
        },
        art : '189238',
        description : 'Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'1', 
            'Цвет': 'Белый', 
            'ОС':'Android', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'Есть'
        },
        rating : 5,
        presence : true,
        price : '11 290' },

        {title : 'Microsoft Lumia 640 RM-1077', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/4',
            image2 : 'http://lorempixel.com/135/135/technics/5',
            image3 : 'http://lorempixel.com/135/135/technics/6'
        },
        art : '283135',
        description : 'Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей. Этот многофункциональный смартфон уже содержит набор бесплатных сервисов Microsoft...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Белый', 
            'ОС':'WindowsPhone', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'A-GPS'
        },
        rating : 4,
        presence : true,
        price : '10 990' },

        {title : 'Archos 50 Oxygen Plus', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/7',
            image2 : 'http://lorempixel.com/135/135/technics/8',
            image3 : 'http://lorempixel.com/135/135/technics/9'
        },
        art : '189238',
        description : 'Смартфон Archos 50 Oxygen Plus, серый. Моноблок, Micro-SIM, Android , 3G, Bluetooth, USB-подключение к ПК, Wi-Fi, Разрешение основной камеры 8 Мп...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Серый', 
            'ОС':'Android', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'Есть'
        },
        rating : 4,
        presence : true,
        price : '9 900' },

        {title : 'Philips S398 Black', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/10',
            image2 : 'http://lorempixel.com/135/135/technics/11',
            image3 : 'http://lorempixel.com/135/135/technics/12'
        },
        art : '189238',
        description : 'Смартфон Philips S398 Black. Черный корпус и разнообразие цветных панелей для Philips S398 как нельзя лучше подчеркнут ваш статус и уверенность в себе. Преимущества этой модели...',
        car : {
            'Тип SIM-карты':'', 
            'Количество SIM-карт':'2', 
            'Цвет': '', 
            'ОС':'Android', 
            'Связь 3G':'', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':''
        },
        rating : 4,
        presence : true,
        price : '8 990' },

        {title : 'Microsoft Lumia 430 RM-1099', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/13',
            image2 : 'http://lorempixel.com/135/135/technics/14',
            image3 : 'http://lorempixel.com/135/135/technics/15'
        },
        art : '387228',
        description : 'Смартфон Microsoft Lumia 430 RM-1099 black Куда бы вы ни направлялись, смартфон должен быть надежным спутником. Поэтому у Microsoft Lumia 430 Dual SIM (RM-1099) удобный компактный корпус ...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Черный', 
            'ОС':'WindowsPhone', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'A-GPS'
        },
        rating : 4,
        presence : true,
        price : '5 390' },

        {title : 'Senseit L301 black', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/16',
            image2 : 'http://lorempixel.com/135/135/technics/17',
            image3 : 'http://lorempixel.com/135/135/technics/18'
        },
        art : '359110',
        description : 'Смартфон Senseit L301 black, черный. Micro-SIM, две поддерживаемых SIM-карты, Android, 3G, GPS-модуль...  ',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Черный', 
            'ОС':'Android', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'Есть'
        },
        rating : 4,
        presence : true,
        price : '4 990' },

        {title : 'HIGHSCREEN WinWin Black', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/19',
            image2 : 'http://lorempixel.com/135/135/technics/20',
            image3 : 'http://lorempixel.com/135/135/technics/21'
        },
        art : '189238',
        description : 'Смартфон HIGHSCREEN WinWin Black оснащен 4" дисплеем и двумя слотами для SIM-карт.  Windows Phone , 3G, Bluetooth, USB-подключение к ПК...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Черный', 
            'ОС':'WindowsPhone', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'Есть'
        },
        rating : 4,
        presence : true,
        price : '3 990' },

        {title : 'Alcatel OT4013D PIXI 3 (2 SIM)', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/22',
            image2 : 'http://lorempixel.com/135/135/technics/23',
            image3 : 'http://lorempixel.com/135/135/technics/24'
        },
        art : '112234',
        description : 'Смартфон Смартфон Alcatel OT4013D PIXI 3 (2 SIM). Смартфон Alcatel One Touch 4013D оснащен четырехдюймовым дисплеем и двумя слотами для SIM-карт...',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Белый', 
            'ОС':'Android', 
            'Связь 3G':'Есть', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'A-GPS'
        },
        rating : 4,
        presence : true,
        price : '3 290' },

        {title : 'Fly IQ434 Era Nano 5', 
        images : {
            image1 : 'http://lorempixel.com/135/135/technics/25',
            image2 : 'http://lorempixel.com/135/135/technics/26',
            image3 : 'http://lorempixel.com/135/135/technics/27'
        },
        art : '387228',
        description : 'Смартфон Fly IQ434 Era Nano 5 оснащен 3.5" дисплеем и двумя слотами для SIM-карт. Android 2.3, Micro SD, Wi-Fi.... ',
        car : {
            'Тип SIM-карты':'Micro-SIM', 
            'Количество SIM-карт':'2', 
            'Цвет': 'Черный', 
            'ОС':'Android', 
            'Связь 3G':'Нет', 
            '4G (LTE)':'Нет', 
            'GPS-модуль':'Нет'
        },
        rating : 4,
        presence : true,
        price : '1 790' }
        ]